// COLOURS
$color-white: #fff;
$color-black: #000;

$color-grey: #aaa;
$color-grey-light-1: #e2e2e2;
$color-grey-light-2: #dedede;
$color-grey-dark-1: #7d7d7d;
$color-grey-dark-2: #a4a3a4;
$color-grey-dark-3: #333333;


$color-primary-1: #2b2d5a;
$color-secondary-1: #e75a35;
$color-secondary-2: #db8606;

$color-bgr-primary: $color-white;
$color-bgr-secondary: $color-grey-light-2;
$color-bgr-login: $color-bgr-primary;
$color-border-primary: #ddd;
$color-overlay: $color-grey;

$color-pending: #fee3e4;
$color-investigating: #ffffee;
$color-awaiting: #d9d8ff;
$color-solved: #d8ffd8;
$color-completed: #f4f3f4;
$color-completed: #f4f3f4;

// TYPOGRAPHY
$default-font-family: arial, helvetica, sans-serif;
$default-font-size: 1.1rem;

// LAYOUT
$header-height: 8rem;
$header-height-medium: 6rem;
$header-height-small: 4rem;
$header-height-tiny: 2rem;
$footer-height: 12rem;

// GRID
$grid-width: 114rem;
$grid-width-small: 50rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 2rem;


// JS
$scroller-item-height: 25px;