*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: $color-bgr-primary;
  font-family: $font-family;
  font-size: $font-size;
  overflow: hidden;
}

a, a:link, a:visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
