*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: $color-main-bgr;
  font-family: $font-family;
  font-size: $font-size;
  overflow: hidden;
}