$color-white: #fff;
$color-grey: #aaa;

$color-bgr-primary: $color-white;
$color-bgr-secondary: rgb(226, 226, 226);
$color-border-primary: #ddd;
$color-overlay: $color-grey;

$font-family: arial, helvetica, sans-serif;
$font-size: 1.3rem;